body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


:root{
  --grey: grey;
  --silver: #f0f0f0;
  --red: #eb0203;
}


.navlink{
  text-decoration: none;
}
.container{
  overflow: hidden;
}

.img_wrap{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header_label{
  font-size: 28px;
}

@media only screen and (max-width: 1680px){
  .container{
    width: 1540px!important;
  }
}

@media only screen and (max-width: 1440px){
  .container{
    min-width: 1300px!important;
  }
}

@media only screen and (max-width: 1240px){
  .container{
    width: 1200px!important;
  }
}

@media only screen and (max-width: 1040px){
  .container{
    width: 1000px;
  }
}

@media only screen and (max-width: 840px){
  .container{
    width: 750px;
  }
}